<a href="https://colab.research.google.com/github/sameerkhadka00/sameerkhadka00/blob/main/Samir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Answer of 1I
  print(bool(True and 1 / 0 and False))

IndentationError: ignored

In [ ]:
#Answer of 1II
print(bool(True or 1 / 0 or False))

True

In [ ]:
#Answer of 1III
print(bool(True and 0))

False

In [ ]:
#Answer of 1IV
print(bool(False or 1))

True

In [ ]:
#Answer of 1V
print(bool(1 and 3 and 6 and 10 and 15))

True

In [ ]:
#Answer of 1VI
print(bool(0 or False or 2 or 1 / 0))

True

In [ ]:
#Answer of 2
def welcome():
         print('Welcome to', end=' ')
         return 'Hello'
def CS250():
        print('CS250')
        return 'Python'

print(welcome(), CS250())

Welcome to CS250
Hello Python

In [ ]:
#Answer of 3
x = 6
def foo1(x):
        print(x)

def foo2(x):
        y = x
        x = 7
        print(x)
y = foo1(x)
foo2(x)
y = foo1(8)

6
7
8

In [ ]:
#Answer of 4
def cake(batter): 
  return batter 
def pan(x, y): 
 y = y + 20 
 return x(y) 
pan(print, 10)

30

In [ ]:
#Answer of 6
x = 10 
def foo(): 
 return x
def bar(x): 
 return x
def foobar(new_value): 
  x = new_value 
  y = x + 1 
  return x
foo() 
bar(5) 
foobar(20)

20

In [ ]:
#Answer of 7
a = 1 
def b(b): 
 return a + b 
a = b(a) 
print(a)

2

In [ ]:
#Answer of 8
from operator import add 
def sub(a, b): 
 sub = add 
 x = a - b
 return x
add = sub 
sub = min 
print(add(2, sub(2, 3)))

0

In [ ]:
#Answer of 9
a = eval(input("Enter a number:"))
b = eval(input("Enter a number:"))
x = a + abs(b)
print(x)

Enter a number:5
Enter a number:-6
11

In [ ]:
#Answer of 5
from operator import sub, mul 
def print_sub(x, y): 
  print('sub') 
  return sub(x, y)
def print_mul(x, y):
  print('mul') 
  return mul(x, y)
print_sub(print_mul(4, 504), 2)
a = print_sub(print_mul(4, 504), 2)
print(a)

mul
sub
mul
sub
2014